@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-chinese-font: "ZCOOL XiaoWei";
    --primary-main-font: "Playwrite DE Grund";
}

@layer base {
    html, pre, code {
        font-family: var(--primary-main-font), var(--primary-chinese-font), sans-serif;
        font-optical-sizing: auto;
    }

    pre {
        white-space: pre-wrap;
        /* Wrap long lines */
        word-wrap: break-word;
        /* Break long words */
    }
}

.alkatra {
    font-family: "Alkatra", var(--primary-chinese-font), system-ui;
    font-optical-sizing: auto;
}

.playwrite-de-grund {
    font-family: "Playwrite DE Grund", var(--primary-chinese-font), cursive;
    font-optical-sizing: auto;
}

.playwrite-fr-moderne {
    font-family: "Playwrite FR Moderne", var(--primary-chinese-font), cursive;
    font-optical-sizing: auto;
}

.playwrite-us-modern {
    font-family: "Playwrite US Modern", var(--primary-chinese-font), cursive;
    font-optical-sizing: auto;
}

.playwrite-nz {
    font-family: "Playwrite NZ", var(--primary-chinese-font), cursive;
    font-optical-sizing: auto;
}

.emoji {
    font-family: "Noto Color Emoji", sans-serif;
}

.runic {
    font-family: "Noto Sans Runic", sans-serif;
}
